@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;

  /* Fuente de google fonts */
  font-family: "Teko", serif;
  font-weight: 700;
  font-style: normal;

  /* Fondo */
  background-size: cover;
  background-position: center;
  height: 100vh;
}
